$accent: #CF6621;

body {
  background-image: url('/src/images/robin.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

nav {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  background-color: #FFF;
  font-family: 'Lora', 'Times New Roman';

  &.fixed {
    position: fixed;
    top: 0;
  }

  .logo {
    width: 200px;
    background-color: #FFF;

    img {
      max-width: 100%;
    }
  }

  ul {
    flex: 1;
    list-style-type: none;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    display: none;

    li {
      display: block;
      border-bottom: 5px solid transparent;
      padding: 1em;

      &:hover {
        border-bottom-color: $accent;
      }

      a {
        display: block;
        text-decoration: none;
      }
    }
  }
}

header,
section {
  min-height: 80vh;
}

section {
  background-color: #FAFAFA;
  padding-top: 3.5em;
  margin-bottom: 3em;
}

a {
  color: #111;

  &:hover {
    text-decoration: none;
  }
}

.title {
  text-transform: uppercase;
  text-align: center;
  color: $accent;
  font-family: 'Lora', 'Times New Roman';
  margin-bottom: 2em;
}

.row {
  display: flex;
  flex-direction: column;

  .col {
    flex: 1;
  }
}

#toggle-navbar {
  display: none;
}

label[for='toggle-navbar'] {
  cursor: pointer;
  padding: 1em;
}

#toggle-navbar:checked ~ ul {
  display: block;
}

label[for='toggle-navbar'] {
  display: block;
}

#map {
  height: 400px;
  width: 100%;
}

@media (min-width: 720px) {
  .container {
    width: 80%;
    margin: 0 auto;
  }

  .row {
    flex-direction: row;
  }

  label[for='toggle-navbar'] {
    display: none;
  }

  nav {
    flex-direction: row;
    ul {
      display: flex;
      align-items: center;

      li {
        flex: 1;
        text-align: center;
      }
    }
  }
}
