$base: #369;
$accent: #363;

body {
  color: $base;
}

nav {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 100%;
  background-color: #FFF;

  &.fixed {
    position: fixed;
  }

  .logo {
    max-width: 200px;

    img {
      max-width: 100%;
    }
  }

  ul {
    list-style-type: none;
    text-transform: uppercase;
    display: flex;
    flex: 1;
    align-items: center;
    padding: 0;

    li {
      flex: 1;
      text-align: center;
    }
  }
}

header {
  background-image: url('/src/images/robin.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

header,
section {
  min-height: 80vh;
}

section {
  padding-top: 3.25em;
}

.title {
  text-transform: uppercase;
}

.row {
  display: flex;
  flex-direction: column;

  .col {
    flex: 1;
  }
}

#map {
  height: 400px;
  width: 100%;
}

@media (min-width: 720px) {
  .container {
    width: 80%;
    margin: 0 auto;
  }

  .row {
    flex-direction: row;
  }
}
